.egais__warning {
  position: relative;
  padding-left: 79px;
  padding-right: 30px;
  padding-top: 16px;
  padding-bottom: 11px;
  margin-bottom: 19px;
  border: 2px solid #5b3077;
  border-radius: 3px;
}

.egais__warning::before {
  content: "";
  display: block;
  width: 40px;

  height: 34px;
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-image: svg-load('../icons/warning.svg');
}

.egais__features {
  margin-top: 45px;
  margin-bottom: 20px;
}

.egais__features-row::after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.egais__features-row:not(:last-of-type) {
  margin-bottom: 45px;
}

.egais__feature-item {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
  min-width: 300px;
}

.egais__feature-icon {
  height: 94px;
  margin-bottom: 25px;
  position: relative;
}

.egais__feature-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: 100%;
}

.egais__feature-icon--quality::before {
  width: 91px;
  height: 91px;
  background-image: svg-load('../icons/diamond-1.svg');
}

.egais__feature-icon--qr::before {
  width: 99px;
  height: 78px;
  background-image: svg-load('../icons/invoice.svg');
}

.egais__feature-icon--sert::before {
  width: 68px;
  height: 90px;
  background-image: svg-load('../icons/contract.svg');

}

.egais__feature-icon--approved::before {
  width: 85px;
  height: 94px;
  background-image: svg-load('../icons/security.svg');
}

.egais__guarantee {
  padding: 12px 30px;
  text-align: center;
  background-color: #f8f3f5;
}

.egais__feature-name {
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 7px;
}

.egais__feature-description {
  display: block;
  text-align: center;
}
